@using crisicheckinweb.ViewModels
@model crisicheckinweb.ViewModels.AddUpdateDisasterModel
@{
    var action = Model.EditMode == EditMode.Creating ? "Add" : "Update";
    
    ViewBag.Title = action + " Disaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Disaster"))
{
    @Html.HiddenFor(m => m.Disaster.Id)
    <fieldset>
        <legend>@action Disaster</legend>
        @Html.ValidationSummary()
        <ol>
            <li>
                @Html.LabelFor(m => m.Disaster.Name)
                @Html.TextBoxFor(m => m.Disaster.Name)
            </li>
            <li>
                Is Currently Active?
                @Html.CheckBoxFor(m => m.Disaster.IsActive)
            </li>
        </ol>
        <input type="submit" value="@action" />
    </fieldset>
}