@model Models.Disaster
@{
    ViewBag.Title = "Create / Edit Disaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Disaster"))
{
    @Html.HiddenFor(m => m.Id)
    <fieldset>
        <legend>Create / Edit Disaster</legend>
        @Html.ValidationSummary()
        <ul>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.IsActive)
                @Html.CheckBoxFor(m => m.IsActive)
            </li>
        </ul>
        <input type="submit" value="@(Model.Id > 0 ? "Update" : "Create")" class="btn btn-success" />
    </fieldset>
}