@model crisicheckinweb.ViewModels.DisasterViewModel
@{
    ViewBag.Title = "Create / Edit Disaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Create", "Disaster"))
{
    @Html.HiddenFor(m => m.Id)
    <h3>Create / Edit Disaster</h3>
    @Html.ValidationSummary()
    <div class="col-sm-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div>
            @Html.CheckBoxFor(m => m.IsActive)
            @Html.LabelFor(m => m.IsActive)
        </div>
        <input type="submit" value="@(Model.Id > 0 ? "Update" : "Create")" class="btn btn-success" />
    </div>

}