@model Models.Disaster

@{
    ViewBag.Title = "Create / Edit Disaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Disaster"))
{
    <h3>Create / Edit Disaster</h3>
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>Disaster Name:</td>
            <td>&nbsp;&nbsp; @Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>Is Currently Active?</td>
            <td>&nbsp;&nbsp; @Html.CheckBoxFor(m => m.IsActive)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="SaveButton" value="Save" /></td>
            <td>&nbsp;&nbsp; @Html.ActionLink("Cancel", "List", "Disaster")@*<input type="button" id="CancelButton" value="Cancel"/>*@</td>
        </tr>
    </table>
}