@model IEnumerable<Models.Disaster>
@{
    ViewBag.Title = "List of Disasters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table, tr, th, td {
        padding: 7px;
        border: 1px solid grey;
    }
</style>

<h3>List of Disasters</h3>

<table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th width="50%">Disaster Name</th>
        <th>Is Active?</th>
        <th></th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Name</td>
            <td>@Html.DisplayFor(m => d.IsActive)</td>
            <td style="min-width:133px">
                <a href="@String.Format("/Disaster/Edit/{0}", d.Id)" class="btn" title="Edit"><i class="icon-pencil"></i> <span class="hidden-phone hidden-tablet">Edit</span></a>
                @if (d.IsActive)
                {
                    <a href="@Url.Action("CreateMessageToVolunteersByDisaster", "Volunteer", new { d.Id })" class="btn" title="Send Message to Volunteers"><i class="icon-envelope"></i> <span class="hidden-phone hidden-tablet">Send Message to Volunteers</span></a>
                    <a href="@Url.Action("Index", "ClusterCoordinator", new { d.Id })" class="btn" title="Cluster Coordinators"><i class="icon-user"></i> <span class="hidden-phone hidden-tablet">Cluster Coordinators</span></a>
                }
            </td>
        </tr>
    }
</table>
<br />
<a href="/Disaster/Edit/-1" class="btn" title="Add Disaster">Add Disaster</a>