@model IEnumerable<crisicheckinweb.ViewModels.DisasterViewModel>
@{
    ViewBag.Title = "List of Disasters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table, tr, th, td {
        padding: 7px;
        border: 1px solid grey;
    }
</style>

<h3>List of Disasters</h3>

@Html.ActionLink("Cluster List", "../Cluster/List", new { }, new { @class = "btn btn-black pull-right" })

@Html.ActionLink("Add New Cluster", "../Cluster/Create", new { }, new { @class = "btn btn-black pull-right" }) 
@Html.ActionLink("Add New Disaster", "Edit", new { id = -1 }, new { @class = "btn btn-black pull-right" })
<br />
<br />
<table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="1">
    <tr class="ht-header">
        <th width="300px;">Disaster Name</th>
        <th>Is Active?</th>
        <th></th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.IsActive</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = d.Id })
                @if (d.IsActive)
                {
                    <text>|</text>
                    @Html.ActionLink("Send Message to Volunteers", "CreateMessageToVolunteersByDisaster", new { controller = "Volunteer", d.Id })
                    <text>|</text>
                    @Html.ActionLink("Cluster Coordinators", "Index", new { controller = "ClusterCoordinator", d.Id })
                }
            </td>
        </tr>
    }
</table>

