@model crisicheckinweb.ViewModels.AdminResourceIndexViewModel
@using crisicheckinweb.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Resources</h2>
<p>The following is a list of reources your organization has listed for this disaster.  These reources can be viewed by volunteers.</p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        @Html.ActionLink("Create New", "Create", new {}, new {@class = "btn btn-black"})
    </div>
    <div class="btn-group" role="group" aria-label="Second group">
        <button type="button" class="btn btn-black" id="filter-button">Filter</button>
    </div>
</div>

<div id="filter-holder" style="display: none;">
    @Html.Partial("_FilterResourcePartial", Model.ResourceSearch)
</div>

<br/>

<table class="table table-bordered table-striped">
    <tr class="ht-header">
        <th>
            Disaster Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.ResourceType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.EntryMade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.StartOfAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.EndOfAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceSearch.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Resources) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disaster.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryMade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartOfAvailability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfAvailability)
        </td>
        <td>
            @Html.LocationFor(item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ResourceId}) |
            @Html.ActionLink("Details", "Details", new {id = item.ResourceId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ResourceId})
        </td>
    </tr>
}

</table>


@section scripts
{
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $("#dp_startDate").datepicker();
                $("#dp_endDate").datepicker();
                $("#dp_createdDate").datepicker();
                

                $("#filter-button").click(function () {
                    $("#filter-holder").toggle("slow");
                });
            });
        })(jQuery);
    </script>
}