@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
   @* @Styles.Render("~/Content/body.css")*@
    @Styles.Render("~/Content/bootstrap/bootstrap.min.css")
    @*<link href="@Styles.Url("~/content/css")" rel="stylesheet"/>*@

    @Scripts.Render("~/Scripts/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.min.js")
    @Styles.Render("~/Content/themes/base/jquery.ui.all.css")

</head>
<body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-header">
                        <h1>Crisis Check-In Admin Section</h1>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="AdminMenu">
                            <a href="/Disaster/List">Disaster List</a><br />
                            <a href="/Volunteer/ListbyDisaster">View Volunteers</a>
                        </div>
                    </div>
                    <div class="col-10">
                        @RenderBody()
                    </div>
                </div>

            </div>
    <script type="text/javascript" src="/scripts/App/config.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
