@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crisis Checkin</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/jqueryui")

    @RenderSection("styles", false)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">

        @if (TempData["AdminContactError"] != null)
        {
            <div class="alert alert-danger alert-error fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                @TempData["AdminContactError"]
            </div>
        }

        @if (TempData["EditUrlDeprecatedWarning"] != null)
        {
            <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                @TempData["EditUrlDeprecatedWarning"]
            </div>
        }

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/libs")
    @RenderSection("scripts", false)
</body>
</html>