@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crisis Checkin</title>
    @Styles.Render("/css/bootstrap.min.css")
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    @Styles.Render("/css/bootstrap-responsive.min.css")
    @Scripts.Render("~/Scripts/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.min.js")
    @Styles.Render("~/Content/themes/base/jquery.ui.all.css")
    @Styles.Render("~/css/forms.css")
</head>
    <body>
        <div class="container">
        
            @if (TempData["AdminContactError"] != null)
            {
                <div class="alert alert-danger alert-error fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @TempData["AdminContactError"]
                </div>
            }

            @if (TempData["EditUrlDeprecatedWarning"] != null)
            {
                <div class="alert alert-info fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @TempData["EditUrlDeprecatedWarning"]
                </div>
            }
        
            @RenderBody()
        </div>
        <script type="text/javascript" src="/scripts/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/scripts/jquery.unobtrusive-ajax.js"></script>
        @Scripts.Render("/js/bootstrap.min.js")
        @RenderSection("scripts", false)
    </body>
</html>
