@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crisis Checkin</title>
   @* @Styles.Render("~/Content/body.css")*@
    @Styles.Render("~/Content/bootstrap/bootstrap.min.css")
    @*<link href="@Styles.Url("~/content/css")" rel="stylesheet"/>*@

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="/scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
