@model crisicheckinweb.ViewModels.ChangePasswordViewModel
@{
  ViewBag.Title = "ChangePassword";
  Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <h2>Change Password</h2>

  @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
  {
    <div class="form-group required">
      @Html.LabelFor(m => m.OldPassword)
      @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.OldPassword)
    </div>

    <div class="form-group required">
      @Html.LabelFor(m => m.NewPassword)
      @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div class="form-group required">
      @Html.LabelFor(m => m.ConfirmPassword)
      @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <div class="row">
      <input type="submit" value="Submit" class="btn btn-success" />
    </div>
  }
</div>