@model crisicheckinweb.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col-3">
            @Html.LabelFor(m => m.OldPassword)
        </div>
        <div class="col-9">
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            @Html.LabelFor(m => m.NewPassword)
        </div>
        <div class="col-9">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="col-9">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <input type="submit" value="Submit" />
        </div>
    </div>
}