@model crisicheckinweb.ViewModels.LoginModel

@{
    ViewBag.Title = "Log in to existing account...";
    Layout = "/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <div class="row">
            <div class="span12">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="row">
            <div class="span12">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="row">
            <div class="span12">
                @Html.CheckBoxFor(m => m.RememberMe, new { style = "float: left; margin-right: 5px;"})
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <input type="submit" value="Log in" />
            </div>
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
