@model crisicheckinweb.ViewModels.RegisterModel

@{
  ViewBag.Title = "Create new account...";
}
<h1>@ViewBag.Title.</h1>

<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary()
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.FirstName)
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.LastName)
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.PhoneNumber)
      @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Email)
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.UserName)
      @Html.TextBoxFor(m => m.UserName, new { id = "txt_userName", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.ConfirmPassword)
      @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Cluster)
      @Html.DropDownListFor(m => m.Cluster, new SelectList(Model.Clusters, "Id", "Name", Model.Cluster), "-- Choose One --", new { @class = "form-control" })
    </div>

    <div class="form-group">
      <input type="submit" value="Create new account" class="btn btn-success" />
    </div>
  }
</div>

@section scripts
{
    <script src="~/scripts/App/accountRegister.js"></script>
}