@model crisicheckinweb.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
}

<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
    <h3>@ViewBag.Title</h3>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Token)
            @Html.ValidationSummary()
        </div>

        <div class="form-group required">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="form-group required">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="form-group">
            <input type="submit" value="Set new password" class="btn btn-success" />
        </div>
    }

</div>
