@model crisicheckinweb.ViewModels.CheckinListsResultsViewModel
@{
    ViewBag.Title = "_FilterResults";    
}

<style>
    table, tr, th, td {
        padding: 7px;
        border: 1px solid grey;
    }
</style>

<h3>Volunteer Check-Ins</h3>
<table>
    <tr>
        <th>Volunteer Name</th>
        <th>Organization</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Activity</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
    </tr>
    @if (Model.VolunteerCheckins != null)
    {
        foreach (var person in Model.VolunteerCheckins)
        {
            for (int ci = 0; ci < person.Commitments.Count(); ci++)
            {
                var commitment = person.Commitments.ElementAt(ci);

                <tr>
                    @if (ci == 0)
                    {
                        <td rowspan="@person.Commitments.Count()">@(person.LastName + ", " + person.FirstName)<br />
                            @using (Html.BeginForm("AddContact", "Volunteer", FormMethod.Post, new { @class = "navbar-form" }))
                            {
                              @Html.AntiForgeryToken()
                              @Html.HiddenFor(m => m.AddContactId, new { @Value = person.Id })
                              <button class="btn btn-black btn-xs" type="submit">Add as Contact</button>
                            }                        
                        </td>
                        <td rowspan="@person.Commitments.Count()">@(person.Organization != null ? person.Organization.OrganizationName : "none")</td>
                        <td rowspan="@person.Commitments.Count()">@person.Email</td>
                        <td rowspan="@person.Commitments.Count()">@person.PhoneNumber</td>
                    }
                    <td>@commitment.Cluster.Name</td>
                    <td>@commitment.StartDate.ToShortDateString()</td>
                    <td>@commitment.EndDate.ToShortDateString()</td>
                    <td>
                        @commitment.VolunteerType.Name
                        @if (!String.IsNullOrWhiteSpace(commitment.Location))
                        {
                            @(" (" + commitment.Location + ")")
                        }
                    </td>
                </tr>
            }
        }
    }
</table>    

<h3>Organization Contacts</h3>
<table>
    <tr>
        <th>Organization</th>
        <th>Contact Name</th>
        <th>Contact Organization</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    @if (Model.OrganizationContacts != null)
    {
        foreach (var contact in Model.OrganizationContacts)
        {
                <tr>
                    <td>@contact.Organization.OrganizationName</td>
                    <td>@(contact.Person.LastName + ", " + contact.Person.FirstName)</td>
                    <td>@(contact.Person.Organization != null ? contact.Person.Organization.OrganizationName : "none")</td>
                    <td>@contact.Person.Email</td>
                    <td>@contact.Person.PhoneNumber</td>
                </tr>
        }
    }
</table>
