@model IEnumerable<Models.Person>
@{
    ViewBag.Title = "_FilterResults";    
}

<style>
    table, tr, th, td {
        padding: 7px;
        border: 1px solid grey;
    }
</style>

<table>
    <tr>
        <th>Volunteer Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Commitments</th>
    </tr>
    @if (Model != null)
    {
        foreach (var person in Model)
        {
            <tr>
                <td>@(person.LastName + ", " + person.FirstName)</td>
                <td>@person.Email</td>
                <td>@person.PhoneNumber</td>
                <td>
                    @if (person.Commitments.Any())
                    {
                        <table>
                            <tr>
                                <th>Activity</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Location</th>
                            </tr>
                            @foreach (var commitment in person.Commitments)
                            {
                                <tr>
                                    <td>@commitment.Cluster.Name</td>
                                    <td>@commitment.StartDate.ToShortDateString()</td>
                                    <td>@commitment.EndDate.ToShortDateString()</td>
                                    <td>@commitment.VolunteerType.Name
                                    @if (!String.IsNullOrWhiteSpace(commitment.Location))
                                    {
                                        @(" (" + commitment.Location + ")")
                                    }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>
        }
    }
</table>    

