@using Microsoft.Web.Mvc
@model crisicheckinweb.ViewModels.SendMessageToAllVolunteersByDisasterViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Send Message To Volunteers By Disaster";
}

<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
@using (Html.BeginForm("SendMessageToVolunteersByDisaster", "Volunteer"))
{
    @Html.HiddenFor(m => m.DisasterId)

    <h3>Send Message To Volunteers: @Model.DisasterName</h3>
    @Html.ValidationSummary()

    <div class="form-group required">
        @Html.LabelFor(m => m.Subject)
        @Html.TextBoxFor(m => m.Subject, new {@class = "form-control"})
    </div>
    <div class="form-group required">
        @Html.LabelFor(m => m.ClusterId)
        @Html.DropDownListFor(m => m.ClusterId, new SelectList(Model.Clusters, "Id", "Name", Model.ClusterId), "All Clusters", new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.ClusterCoordinatorsOnly)
        @Html.LabelFor(m => m.ClusterCoordinatorsOnly)
    </div>
    <div class="form-group required">
        @Html.LabelFor(m => m.Message)
        @Html.TextAreaFor(m => m.Message, 25, 76, new {@class = "form-control"})
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-success" />
        <span id="warningMessage"></span>
    </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        (function ($) {
            $('#Message').bind('keyup', function () {
                ValidateMessageLength();
            })

            ValidateMessageLength();

        })(jQuery);

        function ValidateMessageLength() {

            var messageLength = $('#Message').val().length;
            if (messageLength > 600) {
                $('#warningMessage').text(
                    'The message can only be 640 characters long. It is currently ' + messageLength);
                if (messageLength > 640) {
                    $('#warningMessage').css("color", "red");
                } else {
                    $('#warningMessage').css("color", "black");
                }
            } else {
                $('#warningMessage').text('');
            }
        }
    </script>
}
