@using Microsoft.Web.Mvc
@model crisicheckinweb.ViewModels.SendMessageToAllVolunteersByDisasterViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Send Message To Volunteers By Disaster";
}

<h2>Send Message To Volunteers: @Model.DisasterName</h2>
@using (Html.BeginForm("SendMessageToVolunteersByDisaster", "Volunteer"))
{
    @Html.ValidationSummary()
    <fieldset class="col-lg-11">
        @{
            var width250Attributes = new { htmlAttributes = new { style = "width: 250px;" } };
            var width500Attributes = new { htmlAttributes = new { style = "width: 500px;" } };
        }

        <p>@Html.LabelFor(m => m.Subject, width250Attributes)</p>
        <p>@Html.EditorFor(m => m.Subject, width500Attributes)</p>

        <p>@Html.LabelFor(m => m.ClusterId, width250Attributes)</p>
        <p>@Html.DropDownListFor(m => m.ClusterId, new SelectList(Model.Clusters, "Id", "Name", Model.ClusterId), "All Clusters", width500Attributes)</p>

        <p>
            @Html.LabelFor(m => m.ClusterCoordinatorsOnly, width250Attributes)
            @Html.CheckBoxFor(m => m.ClusterCoordinatorsOnly)
        </p>

        <p>@Html.LabelFor(m => m.Message, width250Attributes)</p>
        <p>@Html.TextAreaFor(m => m.Message, 25, 76, null)</p>

        @Html.HiddenFor(m => m.DisasterId)

        <input type="submit" value="Send" class="btn btn-success" />
        <span id="warningMessage"></span>
    </fieldset>

}

@section scripts
{
    <script type="text/javascript">
        (function ($) {
            $('#Message').bind('keyup', function () {
                ValidateMessageLength();
            })

            ValidateMessageLength();

        })(jQuery);

        function ValidateMessageLength() {

            var messageLength = $('#Message').val().length;
            if (messageLength > 600) {
                $('#warningMessage').text(
                    'The message can only be 640 characters long. It is currently ' + messageLength);
                if (messageLength > 640) {
                    $('#warningMessage').css("color", "red");
                } else {
                    $('#warningMessage').css("color", "black");
                }
            } else {
                $('#warningMessage').text('');
            }
        }
    </script>
}
