@model IEnumerable<Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Requests</h2>
<p>Put out requests to the volunteer community and people can assign themselves to them.</p>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-black" })
</p>
<table class="table table-striped table-bordered">
    <tr class="ht-header">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            Created By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
    </trclass="ht-header">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.RequestId}) |
            @Html.ActionLink("Details", "Details", new {id = item.RequestId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.RequestId})
        </td>
    </tr>
}

</table>
