@using System.Web.Optimization

@model crisicheckinweb.ViewModels.VolunteerViewModel
@{
    ViewBag.Title = "Volunteer Home";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Volunteer Home</h2>

<h3>My Disasters</h3>

<table>
    <tr>
        <th>Disaster Name</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    @foreach(var comm in Model.MyCommitments) { 
    <tr>
        <td>@comm.DisasterId</td>
        <td>@comm.StartDate</td>
        <td>@comm.EndDate</td>
        <td></td>
    </tr>
    }
</table>

@using (Html.BeginForm("Assign", "Home")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

 <h3>Volunteer for Disaster: </h3>
    @Html.DropDownListFor(m => m.SelectedDisaster, new SelectList(Model.Disasters, "Id", "Name", Model.SelectedDisaster), "-- Choose One --")

    <label>Start Date:</label>
    @Html.TextBoxFor(m => m.SelectedStartDate, new { id="dp_startDate", size="8", maxlength="8" })
    
    <label>End Date:</label>
    @Html.TextBoxFor(m => m.SelectedEndDate, new { id="dp_endDate", size="8", maxlength="8" })
    
    <input id="GoButton" type="submit" value="Volunteer"/>
    
}

<script type="text/javascript">
(function ($) {
    $(document).ready(function () {
        $("#dp_startDate").datepicker().datepicker('setDate', new Date());
        $("#dp_endDate").datepicker().datepicker('setDate', '+1');
    });
})(jQuery);
</script>