
@model crisicheckinweb.ViewModels.VolunteerViewModel
@{
    ViewBag.Title = "Volunteer Home";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Volunteer Home</h2>

<h3>My Commitments</h3>

<style>
    table, th, tr, td
    {
        padding: 10px;
        border:1px solid green;
    }

</style>

<table>
    <tr>
        <th>Disaster Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Active</th>
        @if (Model.MyCommitments.Any())
        { 
            <th>&nbsp;</th>
        }
    </tr>
    @foreach(var comm in Model.MyCommitments) { 
    <tr>
        <td>@comm.Disaster.Name</td>
        <td>@comm.StartDate.ToShortDateString()</td>
        <td>@comm.EndDate.ToShortDateString()</td>
        <td>@(comm.Disaster.IsActive ? "Yes" : "No") </td>
        <td>
            @using (Html.BeginForm("RemoveCommitment", "Home", FormMethod.Post, new { @class = "navbar-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RemoveCommitmentId, new { @Value = comm.Id })
                <button type="submit"><i class="icon-remove"></i></button>         
            }
        </td>
    </tr>
    }
</table>

@using (Html.BeginForm("Assign", "Home")) {
    @Html.AntiForgeryToken()

 <h3>Volunteer for Disaster: </h3>
    @Html.ValidationSummary()
    
    @Html.DropDownListFor(m => m.SelectedDisasterId, new SelectList(Model.Disasters, "Id", "Name", Model.SelectedDisasterId), "-- Choose One --")

    <label>Start Date:</label>
    @Html.TextBoxFor(m => m.SelectedStartDate, new { id="dp_startDate" })
    
    <label>End Date:</label>
    @Html.TextBoxFor(m => m.SelectedEndDate, new { id="dp_endDate" })

        @Html.LabelFor(m => m.VolunteerType)
        @Html.DropDownListFor(
        m => m.VolunteerType,
        selectList: new SelectList(Model.VolunteerTypes, "Id", "Name", Model.VolunteerType),
        optionLabel: "-- Choose One --",
        htmlAttributes: new { @class = "form-control" })

    <input id="GoButton" type="submit" value="Volunteer"/>    
}

@section scripts
{
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $("#dp_startDate").datepicker({ minDate: 'today', onSelect: updateEndDate }).datepicker('setDate',
                    '@(Model.SelectedStartDate == default(DateTime) ? DateTime.Now : Model.SelectedStartDate)');
                $("#dp_endDate").datepicker({ minDate: 'today' }).datepicker('setDate',
                    '@(Model.SelectedEndDate == default(DateTime) ? DateTime.Now : Model.SelectedEndDate)');
            });

            function updateEndDate(dateText) {
                $('#dp_endDate').datepicker('option', 'minDate', dateText);
            }
        })(jQuery);
    </script>
}